@keyframes fadeIn {
    0%{
       transform: translateY(-4rem) scale(0);
       opacity: 0;
    }
 }

.home{
    padding:0;
    background: var(--black);
 }
 
 .home .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100vh; */
 }
 
 .home .slide::before{
    content: '';
    position: absolute;
    top:0; left:0;
    height: 100%;
    width: 100%;
    background: var(--dark-bg);
    z-index: -1;
 }
 
 .home .slide .content{
    text-align: center;
    width: 70rem;
    display: none;
 }
 
 .home .slide .content span{
    font-size: 3rem;
    font-weight: bold;
    display: block;
    padding-bottom: .5rem;
    color:var(--orange);
    animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .2s backwards;
 }
 
 .home .slide .content h3{
    font-size: 8vw;
    text-transform: uppercase;
    color:var(--orange);
    text-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
    line-height: 1;
    padding:2rem 0;
    animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .4s backwards;
 }
 
 .home .slide .content .btn{
    animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .6s backwards;
 }
 
 .home .swiper-slide-active .content{
    display: inline-block;
 }
 
 .swiper-button-next,
 .swiper-button-prev{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: var(--white);
    color:var(--black);
 }
 
 .swiper-button-next:hover,
 .swiper-button-prev:hover{
    background: var(--peru);
    color:var(--white);
 }
 
 .swiper-button-next::after,
 .swiper-button-prev::after{
    font-size: 2rem;
 }

 .shopBtn{
     background-color: var(--orange);
     border: 1px solid var(--black);
     border-radius: 0;
 }