
.productContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap:1.5rem;
}

@media(max-width: 539px){
    .productContainer{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
}








